<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error : <%= pageName %></title>
    <% include includes/meta.ejs %>
</head>
<body class="container">

<header>
    <% include includes/header.ejs %>
</header>

<h3>Error : <%= pageName %></h3>

<footer>
    <% include includes/footer.ejs %>
</footer>

</body>
</html>
